<div style="width:100%;">
  
  <div style='display: flex; flex-direction: row; justify-content: space-between;'>
    
    <div style='flex:1'>
      <strong><p style='margin:0' *ngIf='selectedRows.length>0 && selectedRows.length<2'> {{selectedRows.length}} Seleccionado </p></strong>
      <strong><p style='margin:0' *ngIf='selectedRows.length>1'> {{selectedRows.length}} Seleccionados </p></strong>
      <strong><p style='margin:0' *ngIf='selectedRows.length<1'> {{title}} </p></strong>
    </div>

    <div style='flex:3; padding-right: 10px;'>
      <mat-form-field class='filter'>
        <input type="text" [(ngModel)]='filters' (keyup)='changeFilters()'  matInput placeholder="Filtrar">
      </mat-form-field>
    </div>

    <div style='flex:0.5; display:flex; flex-direction: row; justify-content: flex-end;'>
      <div (click)='action("delete")' *ngIf='selectedRows.length>0'>
        <i class="fa fa-trash btn-accion" style="font-size: 150%; margin-right: 15px;" *ngIf='configuration.delete'></i>
      </div>
    
      <div (click)='action("edit")' *ngIf='selectedRows.length==1'>
        <i class="fa fa-edit btn-accion" style="font-size: 150%; margin-right: 15px;" *ngIf='configuration.edit'></i>
      </div>
    
      <div (click)='action("add")' *ngIf='selectedRows.length==0'>
        <i class="fa fa-plus-circle btn-accion" style="font-size: 150%;margin-right: 15px;" *ngIf='configuration.add'></i>
      </div>

    </div>
  
  </div>
 
 <table class="table_Eter table-hover">
     <thead class="dark">
       <tr>
        <th *ngIf='configuration.selectable || configuration.delete || configuration.edit' style='justify-content: center;'> 
          <mat-checkbox color='primary' (change)='seletecAllEvent($event)' [(ngModel)]='selectAll' [indeterminate]='indeterminateState'> </mat-checkbox>  </th> 
       <th [class]='column.style.movil' *ngFor='let column of columns' scope="col" [ngStyle]='column.style'>{{column.label}}</th>
         <!-- <th style='text-align: center;'>
           
         </th> -->
       </tr>
     </thead>
     <tbody class='mat-elevation-z6'>
       
       <tr style="cursor: pointer;" *ngFor='let row of data' (click)='clickOnRoW(row)' >
        <th *ngIf='configuration.selectable || configuration.delete || configuration.edit' style='justify-content: center;'> <mat-checkbox color='primary' [(ngModel)]='checkboxs[row[configuration.selectionField]]' (click)='clicked($event)' (change)='selection(row, $event)'> </mat-checkbox>  </th> 
        <th [class]='column.style.movil' [ngStyle]='column.style' scope="row" *ngFor='let column of columns'>{{ row[column.ID] }}</th>
       </tr>
       
 
     </tbody> 
   </table>
</div>