<div>
    <div style='display:flex; justify-content: space-between;'>
        <div>
            <strong>
                <h3 *ngIf='data.action=="edit"'> Editar </h3>
                <h3 *ngIf='data.action=="add"'> Agregar </h3>           
            </strong>
        </div>
        <div mat-dialog-close>
            <i class="fa fa-times-circle" style="font-size: 150%; position: relative;"></i>
        </div>
    </div>

    <form>

        <div *ngFor='let input of data.columns'>

            <mat-form-field>

                <div *ngIf='data.action=="edit"; else Agregar'>

                    <div *ngIf='input.type=="combo"; else otherInputEdit'>

                        <mat-select [value]='input.value' (selectionChange)='onChange(input.ID,$event.value)'
                            placeholder='{{input.paramsCombo.visibleField}}'>
                            <mat-option *ngFor='let data of dataCombo[input.ID]'
                                value='{{data[input.paramsCombo.selectionField]}}'>
                                {{data[input.paramsCombo.visibleField]}}</mat-option>
                        </mat-select>
                    </div>

                    <ng-template #otherInputEdit>
                        <input [type]='input.type' [name]='input.ID' [value]='input.value'
                            (input)='onChange(input.ID,$event.target.value)' matInput [placeholder]='input.label' />
                    </ng-template>

                </div>

                <ng-template #Agregar>
                    <div *ngIf='input.type=="combo"; else otherInput'>

                        <mat-select (selectionChange)='onChange(input.ID,$event.value)' placeholder='{{input.label}}'>
                            <mat-option *ngFor='let data of dataCombo[input.ID]'
                                value='{{data[input.paramsCombo.selectionField]}}'>
                                {{data[input.paramsCombo.visibleField]}}</mat-option>
                        </mat-select>

                    </div>

                    <ng-template #otherInput>
                        <input [type]='input.type' [name]='input.ID' (input)='onChange(input.ID,$event.target.value)'
                            matInput [placeholder]='input.label' />

                    </ng-template>
                </ng-template>

                <mat-error>Campo Obligatorio</mat-error>
            </mat-form-field>


        </div>

        <button *ngIf='data.action=="add" || data.action=="edir"' (click)='onSubmit()' color='primary' mat-raised-button>Guardar</button>

    </form>
</div>

