button{
    margin-left: 5px;
}

.eter-logo{
    width: 88px;
    position: fixed;
    left: 100px;
    top: 5px;
}

.sesion-service-flex{
    padding: 20px; 
    display:flex ; 
    flex-direction: column; 
    justify-content: center; 
    flex: 1; 

}

mat-form-field{
    width:100%
}