<div style="display:flex; flex-direction: row; justify-content: space-between; ">

    <div>
        <mat-form-field >
            <mat-label style="text-transform: capitalize;">{{configuration.visibleField}}</mat-label>
            <mat-select  (selectionChange)='selectedData($event)'>    
                <mat-option [value]="data" *ngFor='let data of dataCombos'>{{data[configuration.visibleField]}}</mat-option>    
            </mat-select>    
        </mat-form-field>

       
    </div>  
    
   
 

</div>







