.confirm-button-class {
    background-color: black !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.cancel-button-class{
    background-color: white !important;
    color:black !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    border-color: black !important;
    border-style: solid !important;
    border-width: 1px !important;
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
